* {
	margin: 0;
	padding: 0;
}

body {
	min-height: 300vh;
}

html {
	scroll-behavior: smooth;
}

.fcontainer {
	display: flex;
	width: 100%;
	z-index: 100;
	position: fixed;
	top: 0;
	font-family: "Roboto", sans-serif;
}

.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
	padding: 5px;
	width: 100%;
	height: 60px;
	background-color: rgb(41, 39, 39);
	box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}

.logo {
	display: flex;
	flex-direction: row;
	font-size: 30px;
	padding: 15px;
	background-color: grey;
	border-radius: 50px;
	padding: 10px;
}

.pertama {
color: green;
font-weight: 700;
}


.kedua {
	color: white;
	font-weight: 400;
	padding-left: 4px;
}

.navigasi {
	display: flex;
	justify-content: center;
	align-items: center;
}

.navigasi li {
	list-style-type: none;
	padding: 15px;
}

.navigasi li a {
	color: white;
	font-size: 20px;
	text-decoration: none;
}

.navigasi li a:hover {
	color: greenyellow;
	background-color: black;
	border-radius: 7px;
	transition: all .6s ease-in-out;
}

.hero {
	min-height: 100vh;
	background-color: rgb(54, 54, 54);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.content h1 {
	color: greenyellow;
	font-family: "Ubuntu", sans-serif;
	justify-content: center;
	font-style: italic;
}

.content p {
	padding-top: 15px;
	color: white;
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size:  20px;
}

.about {
	padding: 96px 9px 17px;
	min-height: 100vh;
	background-color: white;
}

.about h2 {
	text-align: center;
	font-size: 42px;
	margin-bottom: 48px;
	color: rgb(54, 54, 54);
	font-family: "Ubuntu", sans-serif;
	font-style: italic;
}

.about .row {
	display: flex;
	flex-wrap: wrap
}

.about .row .about-img {
	flex: 1 1 720px;
}

.about .row .about-img img {
	width: 70%;
	position: relative;
	left: 65px;
}

.about .row .content {
    flex: 1 1 550px;
    border: 2px solid black;
     box-shadow: 0 9px 20px 0 rgba(0, 0, 0, 0.5);
     border-radius: 40px;
     position: relative;
     height: 450px;
     top: 180px;
  }

.about .row .content h3 {
    margin-bottom: 16px;
     color: rgb(54, 54, 54);
       font-size: 28px;
         font-family: "Roboto", sans-serif;
         margin-top: 16px;
          position: relative;
    top: 85px;
       text-align: center;
       justify-content: center;
       text-align: center;
}

.about .row .content p {
    margin-bottom: 13px;
    font-weight: 100;
    line-height: 1.6;
    color: rgb(155, 155, 155);
     font-family: "Roboto", sans-serif;
     font-weight: 700;
        position: relative;
        top: 85px;
        font-size: 18px;
           text-align: center;
       justify-content: center;
       text-align: center;
}


 

.about .row .about-img img{
    height: 470px;
    object-fit: cover;
    object-position: center;
     transition: all 1s ease-in-out;
      border: 2px solid black;
       box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.5);
       top: 140px;
}

.about .row .about-img img:hover{
   border-radius: 50vh;
   box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.5);
    transform: scale(1.10);
   border: 2px solid black;
}

.contac {
    margin-top: 50vh;
    min-height: 100vh;
    background-color: rgb(54, 54, 54);
    text-align: center;
    padding: 80px 0;

}

.contac .width {
    max-width: 600px;
    margin: auto;
    padding: 90px 50px;
    top: 20vh;
    position: relative;
     box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.5);
     border: 2px solid black;
}

.contac h3 {
    font-size: 20px;
    color: white;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 400;
}

.nama,.email,.pesan {
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid lightgray;
    padding: 10px 6px;
    font-size: 14px;
    margin-bottom: 40px
}

.nama {
    float: left;
    width: 270px;
}

.email {
    float: right;
    width: 270px;
}

.pesan {
    min-width: 100%;
    max-width: 100%;
}

.contac button {
    background: none;
    color: white;
    border: 1px solid lightgray;
    padding: 12px 40px;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.5s linear;
    cursor: pointer;
}

.contac button:hover{
    background-color: black;
    color: greenyellow;
}

@media screen and (max-width:600px) {
    .nama,.email {
        width: 100%;
    }
}

@media screen and (max-width:400px) {
   .about .row .content {
        height: 790px;
    }
}
